# Ignore extensionless files (i.e binaries)
*
!/**/
!*.*

CS50 Resources/

Wireworld/wirewcircuit1.txt

Wireworld/wirewcircuit2.txt

Wireworld/wirewinvalid.txt

CS50 Resouces/

Wireworld/neillncurses_demo.c

Wireworld/neillncurses.c

Wireworld/neillncurses.h

.vscode/

Wireworld/Test/

Wireworld/wirew_edges.txt

Week 5/34words.txt

Week 5/blocks.c

Week 5/eng_370k_shuffle.txt

Week 5/neillsdl2.c

Week 5/neillsdl2.h

Week 5/test_lines.txt

*.txt
